.about-image-parent img{
    max-width: 400px;
}

.text-variable{
color: yellow;
}

.text-string{
    color: rgb(255, 145, 0);
}

.about-ul li{
    list-style: none;
margin-left: -10px;
}


@media screen and (max-width: 769px) {
    .about-image-parent img{
        max-width: 350px;
        max-height: 350px;
    }
}

