.banner-img{
    max-width: clamp(350px, 40vw, 400px);
    max-height:clamp(350px, 40vw, 400px);
}

.circle{
    width: 120px;
    height: 120px;
    position: absolute;
    background: linear-gradient(to right , #00FFCC , navy);
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    cursor: grab;
}

/* @media (max-width: 989px) {
    .banner-img {
        max-width: 350px;
        max-height: 350px;
    }
} */