.banner-img{
    max-width: 400px;
    max-height: 400px;
}

.circle{
    width: 120px;
    height: 120px;
    position: absolute;
    background: linear-gradient(to right , #00FFCC , rgb(0, 255, 21));
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    cursor: grab;
}

.circle img {
    object-fit: cover;
}

@media (max-width: 989px) {
    .banner-img {
        max-width: 350px;
        max-height: 350px;
    }
    .circle {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 576px)  {
    
    .banner-img{
        max-width: 300px;
        max-height: 300px;
    }

}