.hero-img{
    max-width: 500px;
}

.text-variable{
    color: #DCDCAA;
}

.text-variable-name{
    color: #007FFE;
}

.text-string{
    color: #CE9178;
}

.header-text-parent{
    height: 276px;
}


@media screen and (max-width:990px) {
    .header-text{
        height: 100% !important;
    }
}