.hero-img{
    max-width: 500px;
}

.text-variable{
    color: #DCDCAA;
}

.text-variable-name{
    color: #007FFE;
}

.text-string{
    color: #CE9178;
}

.header-text-parent{
    height: 276px;
}

.btn-view{
    background:linear-gradient(150deg , navy , blue) ;
}


.btn-view:hover{
    /* background:linear-gradient(150deg ,  , ) ; */   
}

@media screen and (max-width:1200px) {
    .header-text-parent{
        height: 100% !important;
    }
}

@media screen and (max-width:990px) {
  
}

@media screen and (max-width:769px) {
    .resume-btn a{
        width: 100% !important;
    }
}

@media screen and (max-width:576px) {
    .link-linkedin{
        font-size: 15px;
    }
  }
  