.container-cube {
    perspective: 800px;
    width: 200px;
    height: 200px;
  }
  .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
  }
  .side {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid white;
    /* opacity: 0.6; */
  }

  .side-attachments{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background:linear-gradient() ;
    
  }

  .front {
    transform: rotateY(0deg) translateZ(100px);
     /* background-color: #0000E9; */
     background-image: url(../images/profile.jpg) ;

  }
  .back {
    transform: rotateY(180deg) translateZ(100px);
    /* background-color: #014F59; */
    background-image: url(../images/profile.jpg) ;

  }
  .left {
    transform: rotateY(-90deg) translateZ(100px);
    /* background-color: white; */
    background-image: url(../images/profile.jpg) ;

  }
  .right {
    transform: rotateY(90deg) translateZ(100px);
    /* background-color: white; */
    background-image: url(../images/profile.jpg) ;
  }
  .top {
    transform: rotateX(90deg) translateZ(100px);
    /* background-color: aqua; */
    background-image: url(../images/profile.jpg) ;
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(100px);
    /* background-color:navy; */
    background-image: url(../images/profile.jpg) ;
  }