@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: "Fira Code", serif !important;
  line-height: normal !important;
  /* background-color: #08051D !important; */
 background-color: #03001B !important ;
}

.web-btn{
  background-color: #0c072e !important;
  border:2px solid #37116A !important;
}

.web-btn:hover{
  background-color: rgb(20, 10, 71) !important;
}


.fs-60{
  font-size: 60px !important;
}

.fs-18{
  font-size: 18px !important;
}

.w-fit{
  width: fit-content !important;
}

.py-100{
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.web-heading{
  background: linear-gradient(180deg, #00AFFF 31.25%, rgba(0, 175, 255, 0.00) 100%);
  background-clip: text !important;
  color: transparent;
}



 /* body::-webkit-scrollbar { */
  /* display: none; Chrome, Safari */
/* }   */










