@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: "Fira Code", serif !important;
  line-height: normal !important;
  /* background-color: #08051D !important; */
 background-color: #03001B !important ;
}

.web-btn{
  background-color: #0c072e !important;
  border:2px solid #37116A !important;
}

.web-btn:hover{
  background-color: rgb(20, 10, 71) !important;
}


.fs-80{
  font-size: 80px !important;
}

.fs-18{
  font-size: 18px !important;
}

.fs-20{
  font-size: 20px !important;
}

.ls-1{
  letter-spacing: 1px;
}

.fw-xbold{
  font-weight: 800 !important;
}

.w-fit{
  width: fit-content !important;
}

.py-100{
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.web-heading{
  background: linear-gradient(180deg, #00AFFF 31.25%, rgba(0, 175, 255, 0.00) 100%, #00AFFF 20%);
  background-clip: text !important;
  color: transparent;
}

.web-heading1{
  background: linear-gradient(130deg,#61BEA6 50% , #B532D0 50%);
  background-clip: text !important;
  color: transparent;
}

.fadein{
 /* transform: translateX(-100px); */
 animation: fadeIn 1.5s ease;
}

.web-button-orange{
  background: linear-gradient(150deg , #FFA31D,#FF7545);
}

.web-button{
  background: linear-gradient(150deg ,#32A9E3 , #8EEABD);
}

.text-dark-blue{
  color: #03001B;;
}



@media screen and (max-width: 989px){
  .fs-80{
    font-size: 60px !important;
  }
  .fs-18{
    font-size: 16px !important;
  }
  .py-100{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  
  
}









