@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*{
  margin: 0px ;
  padding: 0px ;
}

body{
  background-color: #030712 !important;
  font-family: "Fira Code", serif !important;
  line-height: normal !important;
  color: white !important;
 
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.container{
  max-width: 1400px;
}

.fs-18{
  font-size: 18px;
}

.fs-60{
  font-size: 60px;
}

.font-code{
  font-family: "Fira Code", serif;
}

.text-h-white{
  color: #EEEEEE ;
}

.text-blue{
  color: #00ADB5;
}

.transition03{
  transition: all ease .3s;
}

.link:hover{
  color: #00ADB5 !important;
}

.ls-1{
  letter-spacing: 1px !important;
}

.w-fit{
  width: fit-content;
}

.web-button{
  background: linear-gradient(150deg, #0080FF,#00ADB5);
}

.hover:hover{
  transform: scaleX(0.8);
  color: white;
}

.pt-150 {
  padding-top: 120px !important;
}



@media screen and (max-width:990px) {
  .fs-60{
    font-size: 50px;
  }
}

@media screen and (max-width:769px) {
  .banner-img{
    justify-content: center !important;
  }
}


@media screen and (max-width:576px) {
  .fs-60{
    font-size: 40px;
  }

  .fs-18{
    font-size: 15px;
  }
  
}
